<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout.html}">
<body>

<section layout:fragment="content">
    <div class="row mt-5">
        <div class="col-lg-4 offset-1">
            <div class="card">
                <div class="card-header">
                    <h6>Informations auteur</h6>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="identifiant">Identifiant</label>
                            <input type="text" class="form-control" id="identifiant" th:value="${auteur.id}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" th:value="${auteur.nom}">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" th:value="${auteur.prenom}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="modifAuteur">Modifier</button>
                    <button type="submit" class="btn btn-danger" id="supprAuteur">Supprimer</button>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <table id="example" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id Oeuvre</th>
                    <th>Titre</th>
                    <th>Date Parution</th>
                    <th>Nombre réservation</th>
                    <th>Lien</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ovr : ${oeuvres}">
                    <td th:text= "${ovr.id}"></td>
                    <td th:text= "${ovr.titre}"></td>
                    <td th:text= "${ovr.dateParution}"></td>
                    <td th:text= "${ovr.nbReservations}"></td>
                    <td><a th:href="@{/oeuvre/{num}(num=${ovr.id})}">lien</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr hidden>
                    <th>Id Oeuvre</th>
                    <th>Titre</th>
                    <th>Date Parution</th>
                    <th>Nombre réservation</th>
                    <th>Lien</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <!-- <script th:src="@{/page.js}"></script> -->
    <script th:inline="javascript">

        $("#type_action_div").hide();

        $("#supprAuteur").click(function() {
            var id = [[${auteur.id}]];
            $.ajax({
                url: '/auteur/'+id,
                type: 'DELETE',
                success: function(result) {
                    window.location.href = "/auteur";
                },
            });
        });

        $("#modifAuteur").click(function() {
            const id = [[${auteur.id}]];
            var data = {"nom" : $('#nom').val(), "prenom":$('#prenom').val()};
            $.ajax({
                url: '/auteur/'+id,
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });


    </script>
</th:block>


</body>
</html>


