<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="" layout:decorate="~{layouts/layout.html}">


<style>
    .dropdown-toggle{
        width: 100% !important;
    }
</style>

<body>

<section layout:fragment="content">

    <input type="hidden" value="" id="id_livre">

    <div class="row mt-5">
        <div class="col-lg-4 offset-4">
            <div class="card">
                <div class="card-header">
                    <h6>Ajouter un Livre</h6>
                </div>
                <div class="card-body">
                    <form role="form" data-toggle="validator" id="form-validator">
                        <div class="form-group">
                            <label for="titre">Titre</label>
                            <input type="text" class="form-control" id="titre" name="titre" data-error="Entrez un titre (2-50 carctères)" required minlength="2" maxlength="50">
                            <div class="help-block with-errors" style="color: red; border-color: red;"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="dateParution">Date de parution</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="dateParution" name="dateParution" pattern="^([0]?[1-9]|[1|2][0-9]|[3][0|1])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$" placeholder="DD/MM/AA" required data-error="Entrez une date au format jj-mm-yyyy">
                                    <div class="help-block with-errors" style="color: red; border-color: red;"></div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="edition">Date d'édition</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="edition" name="edition" pattern="^([0]?[1-9]|[1|2][0-9]|[3][0|1])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$" placeholder="DD/MM/AA" required data-error="Entrez une date au format jj-mm-yyyy">
                                    <div class="help-block with-errors" style="color: red; border-color: red;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resume">Resumé</label>
                            <textarea class="form-control" id="resume" name="resume" rows="3" required minlength="10" maxlength="2000" data-error="Entrez un mini résumé (10-2000 caractères)"></textarea>
                            <div class="help-block with-errors" style="color: red; border-color: red;"></div>
                        </div>
                        <div class="form-group">
                            <label>Auteurs</label>
                            <select id="liste_auteur" class="form-control selectpicker" data-live-search="true" multiple required data-error="Choisissez au moins un auteur">
                                <option th:each="autr : ${auteurs}"
                                        th:value="${autr.id}"
                                        th:text="${autr.nom}+' - '+${autr.prenom}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success" id="creation">Créer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $('#dateParution').datepicker({ format: 'dd-mm-yyyy', });
        $('#edition').datepicker({ format: 'dd-mm-yyyy', });



        $('#form-validator').submit(function (event) {
            event.preventDefault();
            if ($('#form-validator')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                var data = {"titre" : $('#titre').val(), "type_oeuvre" : "livre", "dateParution":$('#dateParution').val(), "edition":$('#edition').val(), "resume" : $('#resume').val()};
                $.ajax({
                    url: '/oeuvre',
                    type: 'POST',
                    async: false,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        $('#id_livre').val(result['id']);
                    },
                });

                var val = $('#liste_auteur').val();
                for (var i =0 ; i<val.length ; i++){
                    var data1 = val[i];
                    $.ajax({
                        url: '/auteur/'+data1+'/livre/'+$('#id_livre').val(),
                        type: 'POST',
                        async: false,
                        data: JSON.stringify(data1),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(result) {

                        },
                    });
                }
                window.location.href = "/oeuvre/"+$('#id_livre').val();
            }
        });

        $(document).ready(function(){
            $('#liste_auteur').selectpicker({noneSelectedText : 'Sélectionner un/des Auteur(s)'});
        });

    </script>
</th:block>

</body>
</html>
