<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout.html}">
<body>

<section layout:fragment="content">

    <input type="hidden" id="pas_reservation_en_cours" th:value="${pas_reservation_en_cours}">
    <input type="hidden" id="pas_emprunt_en_cours" th:value="${pas_emprunt_en_cours}">

    <div class="row mr-2 ml-2">
        <div class="col-lg-5 mt-3">
            <div class="card">
                <div class="card-header">
                    <h6>Informations Livre</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="id_oeuvre">Identifiant Oeuvre</label>
                        <input type="text" class="form-control" id="id_oeuvre" th:value="${livre.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="titre">Titre du Livre</label>
                        <input type="text" class="form-control" id="titre" th:value="${livre.titre}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="dateParution">Date de parution</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" id="dateParution" name="dateParution" th:value="${livre.dateParution}">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="edition">Date d'édition</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" id="edition" name="edition" th:value="${livre.edition}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resume">Résumé</label>
                        <textarea class="form-control" id="resume" name="resume" rows="3" th:field="${livre.resume}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="nbReservations">Nombre Réservations</label>
                        <input type="text" class="form-control" id="nbReservations" th:value="${livre.nbReservations}" readonly>
                    </div>
                    <label for="nbReservations">Liste des auteurs</label>
                    <table id="example4" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr hidden>
                            <th>Id Emprunt</th>
                            <th>Date Emprunt</th>
                            <th>Lien</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="autr : ${auteurs}">
                            <td th:text= "${autr.nom}"></td>
                            <td th:text= "${autr.prenom}"></td>
                            <td><a th:href="@{/auteur/{id_auteur}(id_auteur=${autr.id})}">Fiche de l'auteur</a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr hidden>
                            <th>Id Emprunt</th>
                            <th>Date Emprunt</th>
                            <th>Lien</th>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary" id="modifLivre">Modifier</button>
                        <button type="submit" class="btn btn-danger" id="supprLivre">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <h6>Ajout d'exemplaire</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="nb_exemplaire">Numéro</label>
                        <div class="input-group">
                            <input id="nb_exemplaire" name="nb_exemplaire" value="1">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="ajout_exemplaire" value="submit">Ajouter</button>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mt-3" style="font-size: 12px;">
            <div id="accordion">
                <div class="card" id="headingOne">
                    <div class="card-header">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Liste des Exemplaires
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <table id="example" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id Exemplaire</th>
                                    <th>Etat Exemplaire</th>
                                    <th>Suppression de l'exemplaire</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ex : ${exemplaire}">
                                    <td th:text= "${ex.id}"></td>
                                    <td th:text= "${ex.etat}"></td>
                                    <td style="text-align: center">
                                        <span th:id="'trash_exemplaire' + ${ex.id}" th:if="${ex.etat == 'Disponible'}" style="cursor: pointer;"><i class="fas fa-trash-alt" style="color: #ff0000" ></i></span>
                                        <span th:unless="${ex.etat == 'Disponible'}">-</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr hidden>
                                    <th>Id Exemplaire</th>
                                    <th>Etat Exemplaire</th>
                                    <th>Suppression de l'exemplaire</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mt-2" id="headingTwo">
                    <div class="card-header">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Liste des Réservations
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <table id="example2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id Reservation</th>
                                    <th>Date Debut Reservation</th>
                                    <th>Date de Fin Reservation</th>
                                    <th>Statut</th>
                                    <th>Nom Prénom Eprunteur</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="res : ${reservations}">
                                    <td th:text= "${res.id}"></td>
                                    <td th:text= "${res.dateDebutReservation}"></td>
                                    <td style="text-align: center">
                                        <span th:if="${res.dateFinReservation == null}">-</span>
                                        <span th:unless="${res.dateFinReservation == null}" th:text="${res.dateFinReservation}"></span>
                                    </td>
                                    <td th:text= "${res.statut}"></td>
                                    <td><a th:href="@{/user/{id_user}(id_user=${res.id_user})}"><span th:text= "${res.nom}+' - '+${res.prenom}"></span></a></td>
                                    <td style="text-align: center">
                                        <input type="hidden">
                                        <span th:attr="data-oeuvre=${res.id_oeuvre},data-user=${res.id_user}" th:id="'trash_resa' + ${res.id}" th:if="${res.dateFinReservation == null}" style="cursor: pointer;"><i class="fas fa-trash-alt" style="color: #ff0000" ></i></span>
                                        <span th:unless="${res.dateFinReservation == null}">-</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr hidden>
                                    <th>Id Reservation</th>
                                    <th>Date Debut Reservation</th>
                                    <th>Date de Fin Reservation</th>
                                    <th>Statut</th>
                                    <th>Nom Prénom Eprunteur</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="headingThree">
                    <div class="card-header">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Liste des Emprunts
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <table id="example3" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id Emprunt</th>
                                    <th>Date Emprunt</th>
                                    <th>Date Rendu</th>
                                    <th>Duree Emprunt</th>
                                    <th>Retard</th>
                                    <th>Nom Prénom Eprunteur</th>
                                    <th>Ref. Exemplaire</th>
                                    <th>Lien</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eprt : ${emprunts}">
                                    <td th:text= "${eprt.id}"></td>
                                    <td th:text= "${eprt.dateEmprunt}"></td>
                                    <td style="text-align: center">
                                        <span th:if="${eprt.dateRendu == null}">-</span>
                                        <span th:unless="${eprt.dateRendu == null}" th:text="${eprt.dateRendu}"></span>
                                    </td>
                                    <td th:text= "${eprt.dureeEmprunt}"></td>
                                    <td th:text= "${eprt.retard}"></td>
                                    <td><a th:href="@{/user/{id_user}(id_user=${eprt.id_user})}"><span th:text= "${eprt.nom}+' - '+${eprt.prenom}"></span></a></td>
                                    <td th:text= "${eprt.id_exemplaire}"></td>
                                    <td><a th:href="@{/user/{userId}/{empruntId}(userId=${eprt.id_user},empruntId=${eprt.id})}">lien</a></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr hidden>
                                    <th>Id Emprunt</th>
                                    <th>Date Emprunt</th>
                                    <th>Date Rendu</th>
                                    <th>Duree Emprunt</th>
                                    <th>Retard</th>
                                    <th>Nom Prénom Eprunteur</th>
                                    <th>Ref. Exemplaire</th>
                                    <th>Lien</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-danger">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression Impossible</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Il est impossible de supprimer le livre. Avant de le supprimer vous devez d'abord clôturer tous les emprunts / réservations.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <!-- <script th:src="@{/page.js}"></script> -->
    <script th:inline="javascript">

        $("#supprLivre").click(function() {
            var id = [[${livre.id}]];
            var r = $('#pas_reservation_en_cours').val();
            var e = $('#pas_emprunt_en_cours').val();
            if(e==="true" && r==="true"){
                $.ajax({
                    url: '/oeuvre/'+id,
                    type: 'DELETE',
                    success: function(result) {
                        window.location.href = "/oeuvre";
                    },
                });
            }else{
                $('#exampleModal').modal('show');
            }
        });

        $("#modifLivre").click(function() {
            const id = [[${livre.id}]];
            var data = {"titre" : $('#titre').val(), "type_oeuvre" : "livre", "dateParution":$('#dateParution').val(), "nbReservations": $('#nbReservations').val(), "edition" : $('#edition').val(), "resume":$('#resume').val()};
            $.ajax({
                url: '/oeuvre/'+id,
                type: 'PATCH',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        $("[id^='trash_resa']").click(function (){
            var id_resa = (this.id).replace('trash_resa', '');
            var id_oeuvre = $('#trash_resa'+id_resa).data("oeuvre");
            var id_user = $('#trash_resa'+id_resa).data("user");
            $.ajax({
                contentType: "application/json",
                url: '/user/'+id_user+'/oeuvre/'+id_oeuvre+'/reservation/'+id_resa,
                type: 'PATCH',
                data: JSON.stringify({"statut" : "Annulée"}),
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        $("[id^='trash_exemplaire']").click(function (){
            var id_exemplaire = (this.id).replace('trash_exemplaire', '');
            var id_oeuvre = $('#id_oeuvre').val();
            $.ajax({
                contentType: "application/json",
                url: '/oeuvre/'+id_oeuvre+'/exemplaire/'+id_exemplaire,
                type: 'DELETE',
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        $("#ajout_exemplaire").click(function() {
            const id = [[${livre.id}]];
            $.ajax({
                url: '/oeuvre/'+id+'/exemplaire?nb_exemplaire='+$('#nb_exemplaire').val(),
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });

        $('#example2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });

        $('#example3').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });

        $('#example4').DataTable({
            "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });

        $('#nb_exemplaire').spinner({
            min: 1,
            create: function (event, ui) {
                $(this).closest(".ui-spinner").addClass('col-lg-12')
            }
        });

        $('#dateParution').datepicker({ format: 'dd-mm-yyyy', });
        $('#edition').datepicker({ format: 'dd-mm-yyyy', });
    </script>
</th:block>


</body>
</html>

