<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout.html}">
<body>

<section layout:fragment="content">
    <div class="row">
        <div class="offset-lg-3 col-lg-6 mt-5">
            <table id="example" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id Oeuvre</th>
                    <th>Type Oeuvre</th>
                    <th>Titre</th>
                    <th>Date Parution</th>
                    <th>Nombre réservation</th>
                    <th>Lien</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ovr : ${oeuvre}">
                    <td th:text= "${ovr.id}"></td>
                    <td th:text= "${ovr.type_oeuvre}"></td>
                    <td th:text= "${ovr.titre}"></td>
                    <td th:text= "${ovr.dateParution}"></td>
                    <td th:text= "${ovr.nbReservations}"></td>
                    <td><a th:href="@{/oeuvre/{num}(num=${ovr.id})}">lien</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr hidden>
                    <th>Id Oeuvre</th>
                    <th>Type Oeuvre</th>
                    <th>Titre</th>
                    <th>Date Parution</th>
                    <th>Nombre réservation</th>
                    <th>Lien</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <!-- <script th:src="@{/page.js}"></script> -->
    <script th:inline="javascript">
        $('#example thead tr').clone(true).appendTo( '#example thead' );
        $('#example thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 100% !important;" placeholder="'+title+'" />' );

            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        var table = $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });
    </script>
</th:block>


</body>
</html>
