<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="" layout:decorate="~{layouts/layout.html}">
<body>

<section layout:fragment="content">

    <input type="hidden" th:value="${emprunt.id_user}" id="ajax_id_user">
    <input type="hidden" th:value="${emprunt.id_oeuvre}" id="ajax_id_oeuvre">
    <input type="hidden" th:value="${emprunt.id_exemplaire}" id="ajax_id_exemplaire">
    <input type="hidden" th:value="${emprunt.id}" id="ajax_id">
    <input type="hidden" th:value="${emprunt.dateRendu}" id="date_rendu_id">

    <div class="row mt-5">
        <div id="presence_action">
            <div class="row ml-1 mr-1">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h6>
                                <div class="row">
                                    <div class="col-lg-6">
                                        Utilisateur : IDENTIFIANT <span th:text="${emprunt.id_user}" th:remove="tag">Identifiant</span>
                                    </div>
                                    <div class="col-lg-6" style="text-align: right">
                                        <a th:href="@{/user/{userId}(userId=${emprunt.id_user})}"><i class="fas fa-external-link-alt" style="color: azure"></i></a>
                                    </div>
                                </div>
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label for="nom">Nom</label>
                                    <input type="text" class="form-control" id="nom" th:value="${emprunt.nom}" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="prenom">Prénom</label>
                                    <input type="text" class="form-control" id="prenom" th:value="${emprunt.prenom}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-2">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h6>Emprunt : IDENTIFIANT <span th:text="${emprunt.id}" th:remove="tag">Identifiant</span></h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label for="retard_rendu">Rendu en retard</label>
                                    <input type="text" class="form-control" id="retard_rendu" th:value="${emprunt.retard}" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="duree_emprunt">Durée emprunt</label>
                                    <input type="text" class="form-control" id="duree_emprunt" th:value="${emprunt.dureeEmprunt}" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label for="date_emprunt">Date Emprunt</label>
                                    <input type="text" class="form-control" id="date_emprunt" th:value="${emprunt.dateEmprunt}" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="date_rendu">Date de Rendu</label>
                                    <input type="text" class="form-control" id="date_rendu" th:value="${emprunt.dateRendu}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="commentaire_emprunt">Commentaire</label>
                                <textarea class="form-control" id="commentaire_emprunt" rows="3" th:field="${emprunt.commentaire}" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-2">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <div class="row">
                                <div class="col-lg-6">
                                    Oeuvre : IDENTIFIANT <span th:text="${emprunt.id_oeuvre}" th:remove="tag">Identifiant</span>
                                </div>
                                <div class="col-lg-6" style="text-align: right">
                                    <a th:href="@{/oeuvre/{oeuvreId}(oeuvreId=${emprunt.id_oeuvre})}"><i class="fas fa-external-link-alt" style="color: azure"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-lg-4">
                                    <label for="id_exemplaire">Id. Exemplaire</label>
                                    <input type="text" class="form-control" id="id_exemplaire" th:value="${emprunt.id_exemplaire}" disabled>
                                </div>
                                <div class="form-group col-lg-8">
                                    <label for="type_oeuvre">Type de l'oeuvre</label>
                                    <input type="text" class="form-control" id="type_oeuvre" th:value="${emprunt.type_oeuvre}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date_emprunt">Titre</label>
                                <input type="text" class="form-control" id="titre" th:value="${emprunt.titre}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${emprunt.dateRendu == null}" class="col-lg-4">
            <div class="row ml-1 mr-1">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header text-white bg-info">
                            <h6>Action recquise</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Etat de l'exemplaire rendu</label>
                                <select class="custom-select" id="etat_oeuvre">
                                    <option value="bon">Bon état</option>
                                    <option value="abime">Abîmé</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="commentaire">Commentaire</label>
                                <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success" id="rendre">Rendre</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $("#rendre").click(function (){
            var id_user = $('#ajax_id_user').val();
            var id_oeuvre = $('#ajax_id_oeuvre').val();
            var id_exemplaire = $('#ajax_id_exemplaire').val();
            var id_emprunt = $('#ajax_id').val();
            $.ajax({
                contentType: "application/json",
                url: '/user/'+id_user+'/oeuvre/'+id_oeuvre+'/exemplaire/'+id_exemplaire+'/'+id_emprunt,
                type: 'PATCH',
                data: JSON.stringify({"commentaire" : $('#commentaire').val(), "etat" : $('#etat_oeuvre option:selected').text()}),
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        $(document).ready(function() {
            if($("#date_rendu_id").val()==""){
                $("#presence_action").addClass("col-lg-8");
            }else{
                $("#presence_action").addClass("col-lg-12");
            }
        });
    </script>
</th:block>



</body>
</html>

