<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout.html}">
<body>

<section layout:fragment="content">

    <input type="hidden" id="pas_reservation_en_cours" th:value="${pas_reservation_en_cours}">
    <input type="hidden" id="pas_emprunt_en_cours" th:value="${pas_emprunt_en_cours}">

    <div class="row mr-2 ml-2">
        <div class="col-lg-5 mt-3">
            <div class="card">
                <div class="card-header">
                    <h6>Informations client</h6>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="identifiant">Identifiant</label>
                            <input type="text" class="form-control" id="identifiant" th:value="${user.id}" readonly>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="dateNaissance">Date de naissance (MM/JJ/YYYY)</label>
                            <input type="text" class="form-control" id="dateNaissance" th:value="${user.dateNaissance}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" th:value="${user.nom}" readonly>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" th:value="${user.prenom}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <input type="text" class="form-control" id="adresse" th:value="${user.adresse}">
                    </div>
                    <div class="form-group">
                        <label for="numTel">Téléphone</label>
                        <input type="text" class="form-control" id="numTel" th:value="${user.numTel}">
                    </div>
                    <button type="submit" class="btn btn-primary" id="modifUser">Modifier</button>
                    <button type="submit" class="btn btn-danger" id="supprUser">Supprimer</button>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <h6>Ajout d'un emprunt - réservation</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Selectionner une oeuvre</label>
                        <select id="oeuvre_emprunt" class="custom-select">
                            <option value="">Choisissez une oeuvre</option>
                            <option th:each="ovr : ${oeuvre}"
                                    th:value="${ovr.id}"
                                    th:text="${ovr.titre}"/>
                        </select>
                    </div>
                    <div id="generate_reservation">
                        <div class="form-group" id="type_action_div" >
                            <label>Type d'action</label>
                            <input type="text" class="form-control" value="Réservation" disabled>
                        </div>
                        <button type="submit" id="button_oeuvre_reservation" class="btn btn-success" value="submit">Créer une réservation</button>
                    </div>
                    <div id="generate_emprunt">
                        <div class="form-group">
                            <label>Type d'action</label>
                            <input type="text" class="form-control" value="Emprunt" disabled>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-8" id="select_action_exemplaire">
                                <label>Selectionner un exemplaire</label>
                                <select id="oeuvre_exemplaire_emprunt" class="custom-select">
                                    <option value="">Veuillez sélectionner une oeuvre</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Durée de l'emprunt</label>
                                <select id="duree_emprunt" class="custom-select">
                                    <option value="7">7 jours</option>
                                    <option value="7">14 jours</option>
                                    <option value="7">30 jours</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="button_oeuvre_exemplaire_emprunt" class="btn btn-success" value="submit">Créer un emprunt</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mt-2" style="font-size: 12px;">
            <div id="accordion">
                <div class="card mt-2">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Liste des Réservations
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <table id="example2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id Reservation</th>
                                    <th>Date Debut Reservation</th>
                                    <th>Date de Fin Reservation</th>
                                    <th>Statut</th>
                                    <th>Titre</th>
                                    <th>Type Oeuvre</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="res : ${reservations}">
                                    <td th:text= "${res.id}"></td>
                                    <td th:text= "${res.dateDebutReservation}"></td>
                                    <td style="text-align: center">
                                        <span th:if="${res.dateFinReservation == null}">-</span>
                                        <span th:unless="${res.dateFinReservation == null}" th:text="${res.dateFinReservation}"></span>
                                    </td>
                                    <td th:text= "${res.statut}"></td>
                                    <td><a th:href="@{/oeuvre/{id_oeuvre}(id_oeuvre=${res.id_oeuvre})}"><span th:text= "${res.titre}"></span></a></td>
                                    <td th:text= "${res.type_oeuvre}"></td>
                                    <td style="text-align: center">
                                        <span th:attr="data-oeuvre=${res.id_oeuvre}" th:id="'trash_resa' + ${res.id}" th:if="${res.dateFinReservation == null}" style="cursor: pointer;"><i class="fas fa-trash-alt" style="color: red" ></i></span>
                                        <span th:unless="${res.dateFinReservation == null}">-</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr hidden>
                                    <th>Id Reservation</th>
                                    <th>Date Debut Reservation</th>
                                    <th>Date de Fin Reservation</th>
                                    <th>Statut</th>
                                    <th>Titre</th>
                                    <th>Type Oeuvre</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header" id="headingTwo">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Liste des Emprunts
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <table id="example3" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id Emprunt</th>
                                    <th>Date Emprunt</th>
                                    <th>Date Rendu</th>
                                    <th>Duree Emprunt</th>
                                    <th>Retard</th>
                                    <th>Nom Oeuvre</th>
                                    <th>Type Oeuvre</th>
                                    <th>Ref. Exemplaire</th>
                                    <th>Lien</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eprt : ${emprunts}">
                                    <td th:text= "${eprt.id}"></td>
                                    <td th:text= "${eprt.dateEmprunt}"></td>
                                    <td style="text-align: center">
                                        <span th:if="${eprt.dateRendu == null}">-</span>
                                        <span th:unless="${eprt.dateRendu == null}" th:text="${eprt.dateRendu}"></span>
                                    </td>
                                    <td th:text= "${eprt.dureeEmprunt}"></td>
                                    <td th:text= "${eprt.retard}"></td>
                                    <td><a th:href="@{/oeuvre/{id_oeuvre}(id_oeuvre=${eprt.id_oeuvre})}"><span th:text= "${eprt.titre}"></span></a></td>
                                    <td th:text= "${eprt.type_oeuvre}"></td>
                                    <td th:text= "${eprt.id_exemplaire}"></td>
                                    <td><a th:href="@{/user/{userId}/{empruntId}(userId=${eprt.id_user},empruntId=${eprt.id})}">lien</a></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr hidden>
                                    <th>Id Emprunt</th>
                                    <th>Date Emprunt</th>
                                    <th>Date Rendu</th>
                                    <th>Duree Emprunt</th>
                                    <th>Retard</th>
                                    <th>Nom Oeuvre</th>
                                    <th>Type Oeuvre</th>
                                    <th>Ref. Exemplaire</th>
                                    <th>Lien</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-danger">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression Impossible</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Il est impossible de supprimer l'utilisateur. Avant de le supprimer vous devez d'abord clôturer tous les emprunts / réservations.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-warning">
                    <h5 class="modal-title" id="exampleModalLabel2">Emprunt Impossible</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Veuillez sélectionner un numéro d'exemplaire pour effectuer un emprunt.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>

<th:block layout:fragment="script">
    <!-- <script th:src="@{/page.js}"></script> -->
    <script th:inline="javascript">


        $('#example2 thead tr').clone(true).appendTo( '#example2 thead' );
        $('#example2 thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 100% !important;" placeholder="'+title+'" />' );

            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        $('#example3 thead tr').clone(true).appendTo( '#example3 thead' );
        $('#example3 thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 100% !important;" placeholder="'+title+'" />' );

            $( 'input', this ).on( 'keyup change', function () {
                if ( table1.column(i).search() !== this.value ) {
                    table1
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );


        $("#type_action_div").hide();

        $("#supprUser").click(function() {
            var id = [[${user.id}]];
            var r = $('#pas_reservation_en_cours').val();
            var e = $('#pas_emprunt_en_cours').val();
            if(e==="true" && r==="true"){
                $.ajax({
                    url: '/user/'+id,
                    type: 'DELETE',
                    success: function(result) {
                        window.location.href = "/user";
                    },
                });
            }else{
                $('#exampleModal').modal('show');
            }
        });
        $("#modifUser").click(function() {
            const id = [[${user.id}]];
            var data = {"nom" : $('#nom').val(), "prenom":$('#prenom').val(), "dateNaissance": $('#dateNaissance').val(), "adresse" : $('#adresse').val(), "numTel":$('#numTel').val()};
            $.ajax({
                url: '/user/'+id,
                type: 'PATCH',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        var table = $('#example2').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });
        var table1 = $('#example3').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });

        $("#oeuvre_emprunt").change(function() {
            var id = $('#oeuvre_emprunt option:selected').val();
            $.ajax({
                url: '/oeuvre/'+id+'/exemplaire?type=Disponible',
                type: 'GET',
                success: function(result) {
                    if($('#generate_emprunt').is(":visible") || $('#generate_reservation').is(":visible")){
                        $("[id^='generate_']").each(function (){
                            $('#'+this.id).hide(1000, function(){
                                gestion_reservation_emprunt(result);
                            });
                        });
                    }else{
                        gestion_reservation_emprunt(result);
                    }
                },
            });
        });

        //BOUTTON CREATION RESERVATION
        $("#button_oeuvre_reservation").click(function (){
            var id_oeuvre = $('#oeuvre_emprunt option:selected').val();
            var id_user = $('#identifiant').val();
            $.ajax({
                url: '/user/'+id_user+'/oeuvre/'+id_oeuvre+'/reservation',
                type: 'POST',
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });

        //BOUTTON CREATION EMPRUNT
        $("#button_oeuvre_exemplaire_emprunt").click(function (){
            var id_oeuvre = $('#oeuvre_emprunt option:selected').val();
            var id_user = $('#identifiant').val();
            var numero_exemplaire = $('#oeuvre_exemplaire_emprunt option:selected').val();
            var duree_emprunt = $('#duree_emprunt option:selected').val();

            if(numero_exemplaire!="" && id_user!="" && id_oeuvre!=""){
                $.ajax({
                    contentType: "application/json",
                    url: '/user/'+id_user+'/oeuvre/'+id_oeuvre+'/exemplaire/'+numero_exemplaire+'/emprunt',
                    type: 'POST',
                    data: JSON.stringify({"dureeEmprunt" : duree_emprunt}),
                    success: function(result) {
                        document.location.reload(true);
                    },
                });
            }else{
                $('#exampleModal2').modal('show');
            }
        });

        $("#oeuvre_exemplaire_emprunt").change(function() {
            var val = $('#oeuvre_emprunt option:selected').val();
            if (val!=""){
                $('#button_oeuvre_exemplaire_emprunt').removeAttr('disabled');
            }else{
                $('#button_oeuvre_exemplaire_emprunt').attr('disabled',true);
            }
        });


        $( document ).ready(function() {
            $('#generate_emprunt').hide();
            $('#generate_reservation').hide();
        });

        function gestion_reservation_emprunt(result){
            if(result.length > 0){
                if(result.length>0){
                    $('#oeuvre_exemplaire_emprunt').empty();
                    $('#oeuvre_exemplaire_emprunt').append('<option value="">Choisir un exemplaire ...</option>');
                    for (var i=0 ; i<result.length ; i++){
                        $('#oeuvre_exemplaire_emprunt').append('<option value="'+result[i]['id']+'">'+result[i]['id']+' - '+result[i]['etat']+'</option>');
                    }
                }
                $('#generate_emprunt').show(1000);
            }else{
                $('#generate_reservation').show(1000);
            }
        }

        $("[id^='trash_resa']").click(function (){
            var id_resa = (this.id).replace('trash_resa', '');
            var id_oeuvre = $('#trash_resa'+id_resa).data("oeuvre");
            var id_user = $('#identifiant').val();
            $.ajax({
                contentType: "application/json",
                url: '/user/'+id_user+'/oeuvre/'+id_oeuvre+'/reservation/'+id_resa,
                type: 'PATCH',
                data: JSON.stringify({"statut" : "Annulée"}),
                success: function(result) {
                    document.location.reload(true);
                },
            });
        });
    </script>
</th:block>


</body>
</html>


