<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout.html}">
<body>



<section layout:fragment="content">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 mt-5">
            <table id="example" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id User</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Adresse</th>
                    <th>Numéro de Téléphone</th>
                    <th>Lien</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usr : ${users}">
                    <td th:text= "${usr.id}"></td>
                    <td th:text= "${usr.nom}"></td>
                    <td th:text= "${usr.prenom}"></td>
                    <td th:text= "${usr.dateNaissance}"></td>
                    <td th:text= "${usr.adresse}"></td>
                    <td th:text= "${usr.numTel}"></td>
                    <td><a th:href="@{/user/{num}(num=${usr.id})}">lien</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr hidden>
                    <th>Id User</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Adresse</th>
                    <th>Numéro de Téléphone</th>
                    <th>Lien</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <!-- <script th:src="@{/page.js}"></script> -->
    <script th:inline="javascript">

        $('#example thead tr').clone(true).appendTo( '#example thead' );
        $('#example thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 100% !important;" placeholder="'+title+'" />' );

            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        var table = $('#example').DataTable( {
            orderCellsTop: true,
            fixedHeader: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });
    </script>
</th:block>


</body>
</html>



